/* This style all h1 elements */

h1 {
    text-align: center;
    font-family: 'Rammetto One', cursive;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 20px;
}


/* This styles picture container for Index.html */

.uk-inline {
    border-style: solid;
    border-top-color: rgb(145, 237, 145);
    border-left-color: rgba(245, 230, 18, 0.995);
    border-bottom-color: rgb(247, 78, 89);
    border-right-color: rgb(123, 240, 238);
    border-width: 50px;
}


/* This styles happy&sadbuttons */

.happyBtn {
    background-color: rgb(198, 39, 198);
    font-family: 'Rammetto One', cursive;
    font-size: larger;
}

.sadBtn {
    font-family: 'Rammetto One', cursive;
    font-size: larger;
    background-color: rgb(96, 92, 92);
}


/* This styles gallery button */

.galleryBtn {
    margin-top: 20px;
    padding-top: 20px;
    font-family: 'Rammetto One', cursive;
    font-size: larger;
    border-block-start-color: rgb(7, 104, 104);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(76, 23, 198);
    background-color: white;
    color: black;
}


/* This styles home button */

.homeBtn {
    margin-top: 20px;
    padding-top: 20px;
    font-family: 'Rammetto One', cursive;
    font-size: larger;
    background-color: white;
    color: black;
}